<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32030">
        <!--setting id="viewsettings" type="action" label="Set View" enable="true" option="close" action="RunPlugin(plugin://plugin.video.cartoonsgr/?mode=30)" />-->
        <setting id="auto-view" type="bool" label="32031" default="true"/>
        <setting id="menu-view" type="labelenum" label="32032" values="List|WideList|Info|Info2|Info3|Fanart|Big list|Low List|Poster Wrap" default="List" enable="!eq(-1,false)"/>
        <setting id="movie-view" type="labelenum" label="32033" values="List|Info|Info2|Info3|Fanart|Big list|Low List|WideList|Poster Wrap" default="List" enable="!eq(-2,false)"/>
    </category>
    <category label="32041">
        <setting id="downloads" type="bool" label="Enable Downloads" default="false" />
        <setting type="sep" />
        <setting id="movie.download.path" type="folder" label="Movies Path"  default="" />
        <setting id="tv.download.path" type="folder" label="Episodes Path"  default="" />
        <setting type="lsep" label="[CR]" />
		<setting type="lsep" label="32042" />
		<setting type="lsep" label="32043" />
    </category>
	<category label="GAMATO DOMAINS">
        <setting type="lsep" label="32037" />
        <setting id="gamato.domain" type="text" label="Main" default="https://gamatotv.info/" />
        <setting id="gamato.metag" type="text" label="Metaglotismena" default="https://gamatotv.info/64567/" />
        <setting id="gamato.anim" type="text" label="Kinoumena-sxedia" default="https://gamatotv.info/46/" />
        <setting id="gamato.fam" type="text" label="Oikogeneiakes" default="https://gamatotv.info/51/" />
        <setting id="gamato.chris" type="text" label="Christmas" default="https://gamatotv.info/51/" />
	</category>
</settings>