# Ignore all directories, and all sub-directories, and it's contents:
*/*

# Only Include these specific directories and subdirectories:
!_zips/
!_zips/*/
!plugin.audio.mp3streams/
!plugin.video.freevl/
!plugin.video.pelisplus/
!plugin.video.skylinecctv/
!repository.bugatsinho/
!script.module.mutagen/
!script.module.unshortenit/
!service.subtitles.greeksubs/
!plugin.video.cartoonsgr/
!plugin.video.iNovelas/
!plugin.video.releaseBB/
!plugin.video.sport365.live/
!repo/
!test/



# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.pyc
*.pyo

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bat
/addons_xml_generator.py
