<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32211">
		<setting id="provider.subztv.club" type="bool" label="SUBZTV.CLUB" default="true" />
		<setting id="provider.s4f" type="bool" label="SUBS4FREE" default="true" />
		<setting id="provider.yifi" type="bool" label="YiFi" default="true" />
	</category>
</settings>
